{% extends 'words/base.html'%}
{% load static %}
{% load rep %}
{% block content %}
<div class="row">
{% for word in word_list %}
	<div class="card col-2" style="width: 18rem;">
  <img class="card-img-top" src="/media/{{word.word|rep}}.jpg">
  <div class="card-body">
    <h3 style="text-align:center;"><a href="{% url 'word-detail' pk=word.id %}">{{word.word}}</a></h3>
  </div>
</div>
{% if forloop.counter|divisibleby:"6" %}
</div>
<div class="row">
{% endif %}
{% endfor %}
</div>
{% endblock %}
