{% extends 'words/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
<br>        
<div class="row justify-content-md-center">
            <div id="id" style="display:none">{{pk}}</div>
            {% if subject %}
		<div class="col-1 my-auto">
<div class="row form-group" id="scontent">
<input class = "form-control text-center" style="font-size:xx-large;padding:5px"/>
</div>
<div class = "row btn-group d-flex" role = "group">
<button type = "button" class = "btn btn-secondary" onclick="sAdd();">Add</button>
<button type = "button" class = "btn btn-secondary" onclick="sRemove();">Remove</button>
</div>


		</div>
            <div class="col-3 my-auto">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h3 class="text-capitalize text-center" id="subMean" style="display:none;">
                            {{subject.mean}}({{subject.word}})</h3>
                        <hr>
                        <ul class="fa-ul" id="subField">
                            <img src="/media/{{subject.word}}.jpg"
                                style='height: 100%; width: 100%; object-fit: contain' alter="{{subject.word}}.jpg"/>
                        </ul>
                        <ul>
                            <input type="button" value="Prev" id="sPrev" class="btn btn-primary">
                            <input type="button" value="Next" id="sNext" class="btn btn-primary">
                            <input type="button" value="on/off" id="toggle" class="btn btn-primary" onclick="funcS()">
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if verb %}
<div class="col-1 my-auto">
<div class="row form-group" id="vcontent">
<input class = "form-control text-center" style="font-size:xx-large; padding:5px"/>
</div>
<div class = "row btn-group d-flex" role = "group">
<button type = "button" class = "btn btn-secondary" onclick="vAdd();">Add</button>
<button type = "button" class = "btn btn-secondary" onclick="vRemove();">Remove</button>
</div>

</div>
            <div class="col-3 my-auto">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h3 class="text-capitalize text-center" id="verbMean" style="display:none;">
                        {{verb.mean}}({{verb.word}})</h3>
                        <hr>
                        <ul class="fa-ul" id="verbField">
                            <img src="/media/{{verb.word}}.jpg"
                                style='height: 100%; width: 100%; object-fit: contain' alter="{{verb.word}}.jpg" />
                        </ul>
                        <ul>
                            <input type="button" value="Prev" id="vPrev" class="btn btn-primary">
                            <input type="button" value="Next" id="vNext" class="btn btn-primary">
                            <input type="button" value="on/off" id="toggle" class="btn btn-primary" onclick="funcV()">
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if obj %}
<div class="col-1 my-auto">
<div class="row form-group" id="ocontent">
<input class = "form-control text-center" style="font-size:xx-large; padding:5px"/>
</div>
<div class = "row btn-group d-flex" role = "group">
<button type = "button" class = "btn btn-secondary" onclick="oAdd();">Add</button>
<button type = "button" class = "btn btn-secondary" onclick="oRemove();">Remove</button>
</div>
</div>
            <div class="col-3 my-auto">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-capitalize text-center" id="objMean" style="display:none;">
                            {{obj.mean}}({{obj.word}})</h3>
                        <hr>
                        <ul class="fa-ul" id="objField">
                            <img src="/media/{{obj.word}}.jpg" style='height: 100%; width: 100%; object-fit: contain' alter="{{obj.word}}.jpg" />
                        </ul>
                        <ul>
                            <input type="button" value="Prev" id="oPrev" class="btn btn-primary">
                            <input type="button" value="Next" id="oNext" class="btn btn-primary">
                            <input type="button" value="on/off" id="toggle" class="btn btn-primary" onclick="funcO()">
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
</div>
{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    var subId = 0;
    var objId = 0;
    var verbId = 0;
    var pk = document.getElementById("id").textContent;
    $(document).ready(function () {
        $('#sPrev').click(function () {
            $.ajax({
                url: '/getPrevSub/',
                data: {
                    id: subId,
                    pk: pk,
                },
                success: function (data) {
                    data = data.split(',');
                    imgString = "<img src ='/media/" + data[0] +".jpg'"+
                        " style='height: 100%; width: 100%; object-fit: contain'/>";
                    $('#subField').html(imgString);
                    subId -= 1;
                    if (data.length > 1) {
                        $('#subMean').html(data[1]+"("+data[0]+")");
                    } else {
                        $('#subMean').html();
                    }
		turnOff("subMean");
                },
                error: function () {
                    alert("This word is First one.");
                }
            });
        });

        $('#sNext').click(function () {
            $.ajax({
                url: '/getNextSub/',
                data: {
                    id: subId,
                    pk: pk,
                },
                success: function (data) {
                    data = data.split(',');
                    imgString = "<img src ='/media/" + data[0] +".jpg'"+
                        " style='height: 100%; width: 100%; object-fit: contain' />";
                    $('#subField').html(imgString);
                    subId += 1;
                    if (data.length > 1) {
                        $('#subMean').html(data[1]+"("+data[0]+")");
                    } else {
                        $('#subMean').html('');
                    }
		turnOff("subMean");
                },
                error: function () {
                    alert("This word is Last one.");
                }

            });
        });
        //verb
        $('#vPrev').click(function () {
            $.ajax({
                url: '/getPrevVerb/',
                data: {
                    id: verbId,
                    pk: pk,
                },
                success: function (data) {
                    data = data.split(',');
                    imgString = "<img src ='/media/" + data[0] +".jpg'"+
                        " style='height: 100%; width: 100%; object-fit: contain' />";
                    $('#verbField').html(imgString);
                    verbId -= 1;
                    if (data.length > 1) {
                        $('#verbMean').html(data[1]+"("+data[0]+")");
                    } else {
                        $('#verbMean').html('');
                    }
		turnOff("verbMean");
                },
                error: function () {
                    alert("This word is First one.");
                }
            });
        });

        $('#vNext').click(function () {
            $.ajax({
                url: '/getNextVerb/',
                data: {
                    id: verbId,
                    pk: pk,
                },
                success: function (data) {
                    data = data.split(',');
                    imgString = "<img src ='/media/" + data[0] +".jpg'"+
                        " style='height: 100%; width: 100%; object-fit: contain' />";
                    $('#verbField').html(imgString);
                    verbId += 1;
                    if (data.length > 1) {
                        $('#verbMean').html(data[1]+"("+data[0]+")");
                    } else {
                        $('#verbMean').html('');
                    }
		turnOff("verbMean");
                },
                error: function () {
                    alert("This word is Last one.");
                }
            });
        });
        //object
        $('#oPrev').click(function () {
            $.ajax({
                url: '/getPrevObj/',
                data: {
                    id: objId,
                    pk: pk,
                },
                success: function (data) {
                    data = data.split(',');
                    imgString = "<img src ='/media/" + data[0] +".jpg'"+
                        " style='height: 100%; width: 100%; object-fit: contain' />";
                    $('#objField').html(imgString);
                    objId -= 1;
                    if (data.length > 1) {
                        $('#objMean').html(data[1]+"("+data[0]+")");
                    } else {
                        $('#objMean').html('');
                    }
		turnOff("objMean");
                },
                error: function () {
                    alert("This word is First one.");
                }
            });
        });

        $('#oNext').click(function () {
            $.ajax({
                url: '/getNextObj/',
                data: {
                    id: objId,
                    pk: pk,
                },
                success: function (data) {
                    data = data.split(',');
                    imgString = "<img src ='/media/" + data[0] +".jpg'"+
                        " style='height: 100%; width: 100%; object-fit: contain' />";
                    $('#objField').html(imgString);
                    objId += 1;
                    if (data.length > 1) {
                        $('#objMean').html(data[1]+"("+data[0]+")");
                    } else {
                        $('#objMean').html('');
                    }
		turnOff("objMean");
                },
                error: function () {
                    alert("This word is Last one.");
                }
            });
        });
    });

    function funcS() {
        var tmp = document.getElementById("subMean");
        if (tmp.style.display === "none") {
            tmp.style.display = "block";
        } else {
            tmp.style.display = "none";
        }
    }

    function funcV() {
        var tmp = document.getElementById("verbMean");
        if (tmp.style.display === "none") {
            tmp.style.display = "block";
        } else {
            tmp.style.display = "none";
        }
    }

    function funcO() {
        var tmp = document.getElementById("objMean");
        if (tmp.style.display === "none") {
            tmp.style.display = "block";
        } else {
            tmp.style.display = "none";
        }
    }
    function turnOff(v){
	var tmp = document.getElementById(v);
	if (tmp.style.display === "block")
		tmp.style.display = "none";
    }
    function sAdd(){
	var tmp = document.getElementById("scontent");
	var add = '<input class = "form-control text-center" style = "font-size:xx-large; padding:5px"/>'
	$('#scontent').append(add);
    }
    function sRemove(){
	$('#scontent input:last').remove();
	}
function vAdd(){
var tmp = document.getElementById("vcontent");
var add = '<input class = "form-control text-center" style="font-size:xx-large; padding:5px"/></div>';
$('#vcontent').append(add);
}
function vRemove(){
$('#vcontent input:last').remove();
}
function oAdd(){
var tmp = document.getElementById("ocontent");
var add = '<input class = "form-control text-center" style="font-size:xx-large; padding:5px"/></div>';
$('#ocontent').append(add);
}
function oRemove(){
$('#ocontent input:last').remove();
}

</script>
{% endblock %}
