{% extends 'words/base.html' %}
{% load static %}
{% block content %}
	<div class="container">
	<br>
	{% if wordbook_list %}
		<div class="row">
			{% for wordbook in wordbook_list %}
				<div class="col-6">
					<div class="card">
						<div class="card-body">
							<h5 class="text-capitalize"><br/><a href="{% url 'detail' wordbook.id %}">{{wordbook}}</a><br/></h5>
						</div>
					</div>
				</div>
				{% if forloop.counter|divisibleby:"2" %}
			</div>
		        <br>
			<div class="row">
				{%endif%}
			{% endfor %}
		</div>
	        <br>
		<div class="row mt-2">
			<div class="col-12">
				<nav>
					<ul class="pagination mx-auto justify-content-center">
						{% if page_obj.has_previous %}                         
							{% if request.GET.wb %}
							<li class="page-item">
                                                                <a class="page-link" href="?wb={{request.GET.wb}}&page={{page_obj.previous_page_number }}">Prev</a>
                                                        </li>
							{% else %}
							<li class="page-item">
								<a class="page-link" href="?page={{page_obj.previous_page_number }}">Prev</a>
							</li>
							{% endif %}
						{% else %}
							<li class="page-item disabled">
								<a class="page-link" href="#">Prev</a>
							</li>
						{% endif %}
						<li class="page-item">
							<a class="page-link" href="#">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
						</li>
						{% if page_obj.has_next %}
							{% if request.GET.wb %}
	                                                <li class="page-item">
                                                                <a class="page-link" href="?wb={{request.GET.wb}}&page={{page_obj.next_page_number }}">Next</a>
                                                        </li>
							{% else %}
							<li class="page-item">
								<a class="page-link" href="?page={{page_obj.next_page_number }}">Next</a>
							</li>
							{% endif %}
						{% else %}
							<li class="page-item disabled">
								<a class="page-link" href="#">Next</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	{% else %}
			<div class="alert alert-dismissible alert-info">
				<h4 class="alert-heading">Try again!</h4>
				<p class="mb-0">You can serach by 'Teacher', 'Class' or 'Teacher Class', <a href="/" class="alert-link">Go to main</a>.</p>
			</div>
	{% endif %}
	<div class = "row mt-2" style="width:100%">
		<footer class="footer" style="text-align:center;margin:auto">
			<div class="row mt-2">
				<div class="col-12">
					상호: (주)웨슬리 | 대표: 조성범 | 전화: 032-342-0509 | 이메일: wesley3420509@naver.com <br>
					주소: 경기도 부천시 경인로 486, 5층 (괴안동,세코프라자) | 사업자등록번호: <span>130-86-39644</span><br>
					Made by <a href="https://github.com/shg9411">Song_H_G</a>.<br>
				</div>
			</div>
		</footer>
	</div>
{% endblock %}
