{% extends 'words/base.html'%}
{% load static %}
{% load rep %}
{% block content %}
{% if messages %}
	{% for message in messages %}
		<div class="alert alert-dismissible alert-success">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong>{{message}}</strong>.
		</div>
	{% endfor %}
{% endif %}
<div class = "container">
<div class="row">
	<table class = "table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Word</th>
				<th scope="col">Mean</th>
				<th scope="col">Type</th>
			</tr>
		</thead>
		<tbody>
			{% for word in word_list %}
			<tr>
				<th scope="row">{{forloop.counter0|add:page_obj.start_index}}</th>
				<td scope="col"><a href="{% url 'word-detail' pk=word.id %}">{{word.word}}</a></td>
				<td scope="col">{{word.mean}}</td>
				<td scope="col">{{word.word_type}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<nav>
					<ul class="pagination mx-auto justify-content-center">
						{% if page_obj.has_previous %}                         
							{% if request.GET.w %}
							<li class="page-item">
                                                                <a class="page-link" href="?w={{request.GET.w}}&page={{page_obj.previous_page_number }}">Prev</a>
                                                        </li>
							{% else %}
							<li class="page-item">
								<a class="page-link" href="?page={{page_obj.previous_page_number }}">Prev</a>
							</li>
							{% endif %}
						{% else %}
							<li class="page-item disabled">
								<a class="page-link" href="#">Prev</a>
							</li>
						{% endif %}
						<li class="page-item">
							<a class="page-link" href="#">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
						</li>
						{% if page_obj.has_next %}
							{% if request.GET.w %}
	                                                <li class="page-item">
                                                                <a class="page-link" href="?w={{request.GET.w}}&page={{page_obj.next_page_number }}">Next</a>
                                                        </li>
							{% else %}
							<li class="page-item">
								<a class="page-link" href="?page={{page_obj.next_page_number }}">Next</a>
							</li>
							{% endif %}
						{% else %}
							<li class="page-item disabled">
								<a class="page-link" href="#">Next</a>
							</li>
						{% endif %}
					</ul>
				</nav>
<form class="form-inline justify-content-center" action="/searchWord/" method="get">
					{% if request.GET.w %}
					<input class="form-control mr-sm-2" type="text" name="w" value="{{request.GET.w}}">				{% else %}
					<input class="form-control mr-sm-2" type="text" name="w" placeholder="Enter word">{% endif %}
						<button class="btn btn-secondary my-2 my-sm-0" type="submit" value="Search">Search</button>
					</form>
</div>
{% endblock %}
