{% extends 'words/base.html' %}
{% load static %}
{% block content %}
<section class="pricing">
    <div class="container">
        <br>
        <div class="row">
            {% for wordbook in wordbook_list %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'detail' wordbook.id %}">{{wordbook.title}}</a>
                        </h5>
                        <p class="card-text">{{wordbook.description}}</p>
                        <p class="card-text text-muted">{% if wordbook.subjects %}
                            S
                            {% endif %}
                            {% if wordbook.verbs %}
                            V
                            {% endif %}
                            {% if wordbook.objs %}
                            O
                            {% endif %}</p>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"2" %}</div>
        <br>
        <div class="row">{%endif%}
            {% endfor %}
        </div>
        <br>
        <div class="pagination" style="background-color:#FFFFFF;">
            <span class="step-links" style="display: inline-block; width: 95%; text-align: center;">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; 처음</a>
                <a href="?page={{ page_obj.previous_page_number }}">이전</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">다음</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">마지막 &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</section>
{% endblock %}