{% extends 'words/base.html' %}
{% load static %}
{% load rep %}
{% block content %}
<div class="container-fluid">
	<br>
	<div class = "row justify-content-center">
		<div class = "col-4 my-auto">
			<div class="card mx-auto">
				<img class="card-img-top" src="/media/{{word.word_type}}/{{word.word|rep}}.jpg" draggable="false" alt="Can't find image of {{word.word}}">
				<div class="card-body">
					<h3 class="text-center">{{word.word}}</h3>
					<h3 class="text-center">{{word.mean}}</h3>
					<div class = "row btn-group d-flex" role="group">
						<a class = "btn btn-secondary" href = "{% url 'word-edit' word.pk %}">edit</a>
						<a class = "btn btn-secondary" href = "{% url 'word-delete' word.pk %}">delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
