{% load static %}
<head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="author" content="Song_H_G">

                <title>Zoom</title>
                <link rel="icon" href="https://contents.sixshop.com/uploadedFiles/70114/default/image_1534242923467.ico">
                <link href="{% static 'words/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
                <link rel="stylesheet" href="{% static 'words/css/index.css' %}">

<style type="text/css">
        h3{
                text-transform: none;
        }
</style>
</head>
<div class = "container">
	<br>
	<div class="row">
		{% for object in object_list %}
		<div class="col-6">
			<div class="card">
				<div class="card-body">
					<h5 class = "text-capitalize"><br/><a href="{{object.lInk}}">{{object.cLass}} - {{object.tEacher}}</a><br/></h5>
				</div>
			</div>
		</div>
		{% if forloop.counter|divisibleby:"2" %}
	</div>
	</br>
	<div class="row">
		{% endif %}
		{% endfor %}
	</div>
	<br>
